<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Cubing Timer</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="icon" type="image/png" href="/static/img/cstimer512x512.png">
</head>

<body>
    <div id="head">
        <h1 id="h1">Speed Cubing Timer de tu papi Frank</h1>
        <div></div>
        <textarea id="scramble"></textarea>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="timer" style="display: inline-block;">
        <span class="integer">0</span><span style="font-size: 270px;" class="decimal">.00</span>
    </div>
    <div style=" font-size: 60px; color: red; position: absolute;right: 390px;top: 400px;  display: none;" id="diferencia">
    </div>
        <div style="display: inline-block; font-size: 100px; color: red; position: absolute; right: 0; top: 350px;" id="8">
        </div>
    
    
    <div id="aos">
        <span style="  color: #0026ff;">ao5: <span id="ao5"></span> </span><br>
        <span style="  color: #0026ff;">ao12: <span id="ao12"></span></span><br>

    </div>
    <div id="leftbar" style="opacity: 1;">
        <div class="mybutton c1">
            <div><span>OPCIO-<br>NES</span><span class="icon"></span></div>
        </div>
        <div class="mybutton c2">
            <div><span>EXPORTAR</span><span class="icon"></span></div>
        </div>
        <div class="mybutton c3 enable">
            <div><span>MEZCLA</span><span class="icon"></span></div>
        </div>
        <div id="logo" class="mybutton">
            <div><span>Lanzalaaa
            </span></div>
        </div>
        <div class="mybutton c4 enable">
            <div><span>LISTA DE<br>TIEMPOS</span><span class="icon"></span></div>
        </div>
        <div class="mybutton c5">
            <div><span>DONAR</span><span class="icon"></span></div>
        </div>
        <div class="mybutton c6 enable">
            <div><span>HERRA-<br>MIENTAS</span><span class="icon"></span></div>
        </div>
    </div>
    <div id="contenedor_lateral">
   
        <div id="average">
            <table id="table_aos">
                <thead>
                    <tr>
                        <th></th>
                        <th>Actual</th>
                        <th>Mejor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="  font-weight: bold; ">Tiempo</td>
                        <td style="  color: #0026ff;" id="tiempo_actual"></td>
                        <td style="  color: #0026ff;" id="mejortiempo"></td>
                    </tr>
                    <tr>
                        <td style="  font-weight: bold; ">ao5</td>
                        <td style="  color: #0026ff;" id="ao5-header"></td>
                        <td style="  color: #0026ff;" id="mejorao5"></td>
                    </tr>
                    <tr>
                        <td style="  font-weight: bold; ">ao12</td>
                        <td style="  color: #0026ff;" id="ao12-header"></td>
                        <td style="  color: #0026ff;" id="mejorao12"></td>
                    </tr>
                    <tr>
                        <td style="  font-weight: bold; ">ao100</td>
                        <td style="  color: #0026ff;" id="ao100-header"></td>
                        <td style="  color: #0026ff;" id="mejorao100"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="times-table-container">
            <h2>Resoluciones</h2>

            <table id="table_solves" class="bordered-table">
                <thead>
                    <tr>
                        <th>#</th> <!-- Nueva columna para los índices -->
                        <th>Tiempo</th>
                        <th>ao5</th>
                        <th>ao12</th>
                    </tr>
                </thead>
                <tbody id="times-body">
                </tbody>
            </table>

        </div>
    </div>

    <div class="rubik-cube" id="contenedor_cubo">
        <!-- <div class="rubik-face">
            <div class="orange"></div>
            <div class="orange"></div>
            <div class="orange"></div>
            <div class="orange"></div>
            <div class="orange"></div>
            <div class="orange"></div>
            <div class="orange"></div>
            <div class="orange"></div>
            <div class="orange"></div>
        </div>
        <div class="rubik-face">
            <div class="green"></div>
            <div class="green"></div>
            <div class="green"></div>
            <div class="green"></div>
            <div class="green"></div>
            <div class="green"></div>
            <div class="green"></div>
            <div class="green"></div>
            <div class="green"></div>

        </div>
        <div class="rubik-face">


            <div class="white"></div>
            <div class="white"></div>
            <div class="white"></div>
            <div class="white"></div>
            <div class="white"></div>
            <div class="white"></div>
            <div class="white"></div>
            <div class="white"></div>
            <div class="white"></div>
        </div>
        <div class="rubik-face">
            <div class="red"></div>
            <div class="red"></div>
            <div class="red"></div>
            <div class="red"></div>
            <div class="red"></div>
            <div class="red"></div>
            <div class="red"></div>
            <div class="red"></div>
            <div class="red"></div>
        </div>
        <div class="rubik-face">
            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>
        </div>
        <div class="rubik-face">
            <div class="yellow"></div>
            <div class="yellow"></div>
            <div class="yellow"></div>
            <div class="yellow"></div>
            <div class="yellow"></div>
            <div class="yellow"></div>
            <div class="yellow"></div>
            <div class="yellow"></div>
            <div class="yellow"></div>
        </div> -->

        <div>
            <div id="rotbtncontainer"></div>
            <div id="invrotbtncontainer"></div>
            <div style="display: none;" id="specialbtncontainer"></div>
            <div>
                <div style="display: none;" > 
                    <input value="0" type="number" id="seedvalue">
                </div>
                <div style="display: none;" >
                    <select id="perspectiveSelect">
                        <option value="F">F</option>
                        <option value="B">B</option>
                        <option value="R">R</option>
                        <option value="L">L</option>
                        <option value="U">U</option>
                        <option value="D">D</option>
                        <option value="I">I</option>
                    </select>
                </div>
            </div>
            <p>
            </p> 
        </div>
        
    
    </div>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 518 440" preserveAspectRatio="xMidYMid meet" style="max-width: 100%; max-height: 100%;">
        <defs>
            <radialGradient id="grad-svg2-EDGES-l0-o0" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l0-o1" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l1-o0" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l1-o1" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l2-o0" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l2-o1" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l3-o0" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l3-o1" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l4-o0" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l4-o1" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l5-o0" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l5-o1" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l6-o0" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l6-o1" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l7-o0" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l7-o1" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l8-o0" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l8-o1" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l9-o0" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l9-o1" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l10-o0" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l10-o1" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l11-o0" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-EDGES-l11-o1" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l0-o0" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l0-o1" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l0-o2" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l1-o0" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l1-o1" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l1-o2" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l2-o0" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l2-o1" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l2-o2" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l3-o0" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l3-o1" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l3-o2" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l4-o0" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l4-o1" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l4-o2" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l5-o0" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l5-o1" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l5-o2" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l6-o0" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l6-o1" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l6-o2" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l7-o0" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l7-o1" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CORNERS-l7-o2" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l0-o0" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l0-o1" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l0-o2" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l0-o3" r="70.7107%">
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="white" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l1-o0" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l1-o1" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l1-o2" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l1-o3" r="70.7107%">
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="orange" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l2-o0" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l2-o1" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l2-o2" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l2-o3" r="70.7107%">
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="limegreen" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l3-o0" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l3-o1" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l3-o2" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l3-o3" r="70.7107%">
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="red" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l4-o0" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l4-o1" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l4-o2" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l4-o3" r="70.7107%">
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(34, 102, 255)" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l5-o0" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l5-o1" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l5-o2" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="grad-svg2-CENTERS-l5-o3" r="70.7107%">
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="black" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="yellow" stop-opacity="1"></stop>
            </radialGradient>
        </defs>
        <title>3x3x3</title>
        <defs>
            <g id="sticker">
                <rect x="0" y="0" width="1" height="1" stroke="black" stroke-width="0.04px"></rect>
            </g>
            <g id="sticker-thin-v">
                <rect x="0" y="0" width="0.5" height="1" stroke="black" stroke-width="0.04px" style="opacity: 0.3;">
                </rect>
            </g>
            <g id="sticker-thin-h">
                <rect x="0" y="0" width="1" height="0.5" stroke="black" stroke-width="0.04px" style="opacity: 0.3;">
                </rect>
            </g>
        </defs>
        <g id="puzzle" transform="translate(5,40) scale(40)">
    
            <use data-copy-id="CORNERS-l0-o1" href="#sticker-thin-v" transform="translate(6.5,2.1)"
                style="fill: url(#grad-svg2-CORNERS-l0-o1)"></use>
            <use data-copy-id="EDGES-l1-o1" href="#sticker-thin-v" transform="translate(6.5,1.1)"
                style="fill: url(#grad-svg2-EDGES-l1-o1)"></use>
            <use data-copy-id="CORNERS-l1-o2" href="#sticker-thin-v" transform="translate(6.5,0.1)"
                style="fill: url(#grad-svg2-CORNERS-l1-o2)"></use>

            <use data-copy-id="CORNERS-l2-o2" href="#sticker-thin-h" transform="translate(3.3,-0.6)"
                style="fill: url(#grad-svg2-CORNERS-l2-o2)"></use>
            <use data-copy-id="EDGES-l2-o1" href="#sticker-thin-h" transform="translate(4.3,-0.6)"
                style="fill: url(#grad-svg2-EDGES-l2-o1)"></use>
            <use data-copy-id="CORNERS-l1-o1" href="#sticker-thin-h" transform="translate(5.3,-0.6)"
                style="fill: url(#grad-svg2-CORNERS-l1-o1)"></use>

            <use data-copy-id="CORNERS-l3-o2" href="#sticker-thin-v" transform="translate(2.6,2.1)"
                style="fill: url(#grad-svg2-CORNERS-l3-o2)"></use>
            <use data-copy-id="EDGES-l3-o1" href="#sticker-thin-v" transform="translate(2.6,1.1)"
                style="fill: url(#grad-svg2-EDGES-l3-o1)"></use>
            <use data-copy-id="CORNERS-l2-o1" href="#sticker-thin-v" transform="translate(2.6,0.1)"
                style="fill: url(#grad-svg2-CORNERS-l2-o1)"></use>

            <use id="CORNERS-l0-o0" href="#sticker" transform="translate(5.3,2.1)"
                style="fill: url(#grad-svg2-CORNERS-l0-o0)"></use>
            <use id="CORNERS-l0-o1" href="#sticker" transform="translate(6.5,3.3)"
                style="fill: url(#grad-svg2-CORNERS-l0-o1)"></use>
            <use id="CORNERS-l0-o2" href="#sticker" transform="translate(5.3,3.3)"
                style="fill: url(#grad-svg2-CORNERS-l0-o2)"></use>

            <use id="CORNERS-l1-o0" href="#sticker" transform="translate(5.3,0.1)"
                style="fill: url(#grad-svg2-CORNERS-l1-o0)"></use>
            <use id="CORNERS-l1-o1" href="#sticker" transform="translate(9.7,3.3)"
                style="fill: url(#grad-svg2-CORNERS-l1-o1)"></use>
            <use id="CORNERS-l1-o2" href="#sticker" transform="translate(8.5,3.3)"
                style="fill: url(#grad-svg2-CORNERS-l1-o2)"></use>

            <use id="CORNERS-l2-o0" href="#sticker" transform="translate(3.3,0.1)"
                style="fill: url(#grad-svg2-CORNERS-l2-o0)"></use>
            <use id="CORNERS-l2-o1" href="#sticker" transform="translate(0.1,3.3)"
                style="fill: url(#grad-svg2-CORNERS-l2-o1)"></use>
            <use id="CORNERS-l2-o2" href="#sticker" transform="translate(11.7,3.3)"
                style="fill: url(#grad-svg2-CORNERS-l2-o2)"></use>

            <use id="CORNERS-l3-o0" href="#sticker" transform="translate(3.3,2.1)"
                style="fill: url(#grad-svg2-CORNERS-l3-o0)"></use>
            <use id="CORNERS-l3-o1" href="#sticker" transform="translate(3.3,3.3)"
                style="fill: url(#grad-svg2-CORNERS-l3-o1)"></use>
            <use id="CORNERS-l3-o2" href="#sticker" transform="translate(2.1,3.3)"
                style="fill: url(#grad-svg2-CORNERS-l3-o2)"></use>

            <use id="CORNERS-l4-o0" href="#sticker" transform="translate(5.3,6.5)"
                style="fill: url(#grad-svg2-CORNERS-l4-o0)"></use>
            <use id="CORNERS-l4-o1" href="#sticker" transform="translate(5.3,5.3)"
                style="fill: url(#grad-svg2-CORNERS-l4-o1)"></use>
            <use id="CORNERS-l4-o2" href="#sticker" transform="translate(6.5,5.3)"
                style="fill: url(#grad-svg2-CORNERS-l4-o2)"></use>

            <use id="CORNERS-l5-o0" href="#sticker" transform="translate(3.3,6.5)"
                style="fill: url(#grad-svg2-CORNERS-l5-o0)"></use>
            <use id="CORNERS-l5-o1" href="#sticker" transform="translate(2.1,5.3)"
                style="fill: url(#grad-svg2-CORNERS-l5-o1)"></use>
            <use id="CORNERS-l5-o2" href="#sticker" transform="translate(3.3,5.3)"
                style="fill: url(#grad-svg2-CORNERS-l5-o2)"></use>

            <use id="CORNERS-l6-o0" href="#sticker" transform="translate(3.3,8.5)"
                style="fill: url(#grad-svg2-CORNERS-l6-o0)"></use>
            <use id="CORNERS-l6-o1" href="#sticker" transform="translate(11.7,5.3)"
                style="fill: url(#grad-svg2-CORNERS-l6-o1)"></use>
            <use id="CORNERS-l6-o2" href="#sticker" transform="translate(0.1,5.3)"
                style="fill: url(#grad-svg2-CORNERS-l6-o2)"></use>

            <use id="CORNERS-l7-o0" href="#sticker" transform="translate(5.3,8.5)"
                style="fill: url(#grad-svg2-CORNERS-l7-o0)"></use>
            <use id="CORNERS-l7-o1" href="#sticker" transform="translate(8.5,5.3)"
                style="fill: url(#grad-svg2-CORNERS-l7-o1)"></use>
            <use id="CORNERS-l7-o2" href="#sticker" transform="translate(9.7,5.3)"
                style="fill: url(#grad-svg2-CORNERS-l7-o2)"></use>

            <use id="EDGES-l0-o0" href="#sticker" transform="translate(4.3,2.1)"
                style="fill: url(#grad-svg2-EDGES-l0-o0)"></use>
            <use id="EDGES-l0-o1" href="#sticker" transform="translate(4.3,3.3)"
                style="fill: url(#grad-svg2-EDGES-l0-o1)"></use>

            <use id="EDGES-l1-o0" href="#sticker" transform="translate(5.3,1.1)"
                style="fill: url(#grad-svg2-EDGES-l1-o0)"></use>
            <use id="EDGES-l1-o1" href="#sticker" transform="translate(7.5,3.3)"
                style="fill: url(#grad-svg2-EDGES-l1-o1)"></use>

            <use id="EDGES-l2-o0" href="#sticker" transform="translate(4.3,0.1)"
                style="fill: url(#grad-svg2-EDGES-l2-o0)"></use>
            <use id="EDGES-l2-o1" href="#sticker" transform="translate(10.7,3.3)"
                style="fill: url(#grad-svg2-EDGES-l2-o1)"></use>

            <use id="EDGES-l3-o0" href="#sticker" transform="translate(3.3,1.1)"
                style="fill: url(#grad-svg2-EDGES-l3-o0)"></use>
            <use id="EDGES-l3-o1" href="#sticker" transform="translate(1.1,3.3)"
                style="fill: url(#grad-svg2-EDGES-l3-o1)"></use>

            <use id="EDGES-l4-o0" href="#sticker" transform="translate(4.3,6.5)"
                style="fill: url(#grad-svg2-EDGES-l4-o0)"></use>
            <use id="EDGES-l4-o1" href="#sticker" transform="translate(4.3,5.3)"
                style="fill: url(#grad-svg2-EDGES-l4-o1)"></use>

            <use id="EDGES-l5-o0" href="#sticker" transform="translate(5.3,7.5)"
                style="fill: url(#grad-svg2-EDGES-l5-o0)"></use>
            <use id="EDGES-l5-o1" href="#sticker" transform="translate(7.5,5.3)"
                style="fill: url(#grad-svg2-EDGES-l5-o1)"></use>

            <use id="EDGES-l6-o0" href="#sticker" transform="translate(4.3,8.5)"
                style="fill: url(#grad-svg2-EDGES-l6-o0)"></use>
            <use id="EDGES-l6-o1" href="#sticker" transform="translate(10.7,5.3)"
                style="fill: url(#grad-svg2-EDGES-l6-o1)"></use>

            <use id="EDGES-l7-o0" href="#sticker" transform="translate(3.3,7.5)"
                style="fill: url(#grad-svg2-EDGES-l7-o0)"></use>
            <use id="EDGES-l7-o1" href="#sticker" transform="translate(1.1,5.3)"
                style="fill: url(#grad-svg2-EDGES-l7-o1)"></use>

            <use id="EDGES-l8-o0" href="#sticker" transform="translate(5.3,4.3)"
                style="fill: url(#grad-svg2-EDGES-l8-o0)"></use>
            <use id="EDGES-l8-o1" href="#sticker" transform="translate(6.5,4.3)"
                style="fill: url(#grad-svg2-EDGES-l8-o1)"></use>

            <use id="EDGES-l9-o0" href="#sticker" transform="translate(3.3,4.3)"
                style="fill: url(#grad-svg2-EDGES-l9-o0)"></use>
            <use id="EDGES-l9-o1" href="#sticker" transform="translate(2.1,4.3)"
                style="fill: url(#grad-svg2-EDGES-l9-o1)"></use>

            <use id="EDGES-l10-o0" href="#sticker" transform="translate(9.7,4.3)"
                style="fill: url(#grad-svg2-EDGES-l10-o0)"></use>
            <use id="EDGES-l10-o1" href="#sticker" transform="translate(8.5,4.3)"
                style="fill: url(#grad-svg2-EDGES-l10-o1)"></use>

            <use id="EDGES-l11-o0" href="#sticker" transform="translate(11.7,4.3)"
                style="fill: url(#grad-svg2-EDGES-l11-o0)"></use>
            <use id="EDGES-l11-o1" href="#sticker" transform="translate(0.1,4.3)"
                style="fill: url(#grad-svg2-EDGES-l11-o1)"></use>

            <use id="CENTERS-l0-o0" href="#sticker" transform="translate(4.3,1.1)"
                style="fill: url(#grad-svg2-CENTERS-l0-o0)"></use>
            <use id="CENTERS-l0-o1" href="#sticker" transform="translate(4.3,1.1)"
                style="fill: url(#grad-svg2-CENTERS-l0-o1)"></use>
            <use id="CENTERS-l0-o2" href="#sticker" transform="translate(4.3,1.1)"
                style="fill: url(#grad-svg2-CENTERS-l0-o2)"></use>
            <use id="CENTERS-l0-o3" href="#sticker" transform="translate(4.3,1.1)"
                style="fill: url(#grad-svg2-CENTERS-l0-o3)"></use>

            <use id="CENTERS-l1-o0" href="#sticker" transform="translate(1.1,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l1-o0)"></use>
            <use id="CENTERS-l1-o1" href="#sticker" transform="translate(1.1,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l1-o1)"></use>
            <use id="CENTERS-l1-o2" href="#sticker" transform="translate(1.1,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l1-o2)"></use>
            <use id="CENTERS-l1-o3" href="#sticker" transform="translate(1.1,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l1-o3)"></use>

            <use id="CENTERS-l2-o0" href="#sticker" transform="translate(4.3,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l2-o0)"></use>
            <use id="CENTERS-l2-o1" href="#sticker" transform="translate(4.3,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l2-o1)"></use>
            <use id="CENTERS-l2-o2" href="#sticker" transform="translate(4.3,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l2-o2)"></use>
            <use id="CENTERS-l2-o3" href="#sticker" transform="translate(4.3,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l2-o3)"></use>

            <use id="CENTERS-l3-o0" href="#sticker" transform="translate(7.5,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l3-o0)"></use>
            <use id="CENTERS-l3-o1" href="#sticker" transform="translate(7.5,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l3-o1)"></use>
            <use id="CENTERS-l3-o2" href="#sticker" transform="translate(7.5,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l3-o2)"></use>
            <use id="CENTERS-l3-o3" href="#sticker" transform="translate(7.5,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l3-o3)"></use>

            <use id="CENTERS-l4-o0" href="#sticker" transform="translate(10.7,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l4-o0)"></use>
            <use id="CENTERS-l4-o1" href="#sticker" transform="translate(10.7,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l4-o1)"></use>
            <use id="CENTERS-l4-o2" href="#sticker" transform="translate(10.7,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l4-o2)"></use>
            <use id="CENTERS-l4-o3" href="#sticker" transform="translate(10.7,4.3)"
                style="fill: url(#grad-svg2-CENTERS-l4-o3)"></use>

            <use id="CENTERS-l5-o0" href="#sticker" transform="translate(4.3,7.5)"
                style="fill: url(#grad-svg2-CENTERS-l5-o0)"></use>
            <use id="CENTERS-l5-o1" href="#sticker" transform="translate(4.3,7.5)"
                style="fill: url(#grad-svg2-CENTERS-l5-o1)"></use>
            <use id="CENTERS-l5-o2" href="#sticker" transform="translate(4.3,7.5)"
                style="fill: url(#grad-svg2-CENTERS-l5-o2)"></use>
            <use id="CENTERS-l5-o3" href="#sticker" transform="translate(4.3,7.5)"
                style="fill: url(#grad-svg2-CENTERS-l5-o3)"></use>
        </g>

    </svg>
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quaternion@1.2.1/quaternion.js"></script>

    <script src="/static/js/timer.js"></script>

</body>

</html>