<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Cubing Timer</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="icon" type="image/png" href="/static/img/cstimer512x512.png">
</head>

<body>
    <div id="head">
        <h1 style="font-family: monospace;" id="h1">Speed Cubing Timer de Frank'O <span style="font-size: 80%; ">Última
                / </span><span id="siguiente">Siguiente</span> <span>mezcla</span>
        </h1>
        <div></div>
        <textarea id="scramble" readonly></textarea>
    </div>
   
    <div id="timer" style="display: inline-block;">
        <span class="integer">0</span><span style="font-size: 270px;" class="decimal">.00</span>
    </div>
    <div style=" font-size: 60px; color: red; position: absolute;right: 390px;top: 400px;  display: none;"
        id="diferencia">
    </div>
    <div style="display: inline-block; font-size: 100px; color: red; position: absolute; right: 0; top: 350px;" id="8">
    </div>
    <audio id="audio8" src="/static/music/8.mp3"></audio>
    <audio id="audio4" src="/static/music/4.mp3"></audio>


    <div id="gray" style="opacity: 0.25; display: none;"></div>

    <div id="aos">
        <span style="  color: #0026ff;">ao5: <span id="ao5"></span> </span><br>
        <span style="  color: #0026ff;">ao12: <span id="ao12"></span></span>

    </div>
    <div id="leftbar" style="opacity: 1;">
        <div class="mybutton c1">
            <div><span>OPCIO-<br>NES</span><span class="icon"></span></div>
        </div>
        <div class="mybutton c2">
            <div><span>EXPORTAR</span><span class="icon"></span></div>
        </div>
        <div class="mybutton c3 enable">
            <div><span>MEZCLA</span><span class="icon"></span></div>
        </div>
        <div id="logo" class="mybutton">
            <div><span>Lanzalaaa
                </span></div>
        </div>
        <div class="mybutton c4 enable">
            <div><span>LISTA DE<br>TIEMPOS</span><span class="icon"></span></div>
        </div>
        <div class="mybutton c5">
            <div><span>DONAR</span><span class="icon"></span></div>
        </div>
        <div class="mybutton c6 enable">
            <div><span>HERRA-<br>MIENTAS</span><span class="icon"></span></div>
        </div>
    </div>
    <div id="contenedor_lateral">
        <div><span class="click">Sesión</span>    <select id="sessionSelect">

                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="new">New..</option>
                <option value="del">Delete..</option>
            </select><input type="button" value="X"></div>
        <div id="average">
            <table id="table_aos">
                <thead>
                    <tr>
                        <th></th>
                        <th>Actual</th>
                        <th>Mejor</th>
                    </tr>
                </thead>
                <tbody id="timess-body">
                    <tr>
                        <input id="id_mejortiempo" type="hidden">
                        <td style="  font-weight: bold; ">Tiempo</td>
                        <td onclick="openModel(0,1)" style="  color: #0026ff;" id="tiempo_actual"></td>
                        <td onclick="openModel(document.getElementById('id_mejortiempo').textContent, 1, 0)"
                            style="  color: #0026ff;" id="mejortiempo"></td>

                    </tr>
                    <tr>
                        <input id="id_mejorao5" type="hidden">
                        <td style="  font-weight: bold; ">ao5</td>
                        <td onclick="openModel(0,2)" style="  color: #0026ff;" id="ao5-header"></td>
                        <td onclick="openModel(document.getElementById('id_mejorao5').textContent, 2)"
                            style="  color: #0026ff;" id="mejorao5"></td>
                    </tr>
                    <tr>
                        <input id="id_mejorao12" type="hidden">
                        <td style="  font-weight: bold; ">ao12</td>
                        <td onclick="openModel(0,3)" style="  color: #0026ff;" id="ao12-header"></td>
                        <td onclick="openModel(document.getElementById('id_mejorao12').textContent, 3)"
                            style="  color: #0026ff;" id="mejorao12"></td>
                    </tr>
                    <tr>
                        <input id="id_mejorao100" type="hidden">
                        <td style="  font-weight: bold; ">ao100</td>
                        <td onclick="openModel(0,4)" style="  color: #0026ff;" id="ao100-header"></td>
                        <td onclick="openModel(document.getElementById('id_mejorao100').textContent, 4)"
                            style="  color: #0026ff;" id="mejorao100"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="times-table-container">
            <h2>Resoluciones</h2>

            <table id="table_solves" class="bordered-table">
                <thead id="times-head">
                    <tr>
                        <th>#</th> <!-- Nueva columna para los índices -->
                        <th>Tiempo</th>
                        <th>ao5</th>
                        <th>ao12</th>
                    </tr>
                </thead>
                <tbody id="times-body">

                </tbody>
            </table>

        </div>
    </div>

    <div class="rubik-cube" id="contenedor_cubo">


        <div>
            <div id="rotbtncontainer"></div>
            <div id="invrotbtncontainer"></div>
            <div style="display: none;" id="specialbtncontainer"></div>
            <div>
                <div style="display: none;">
                    <input value="0" type="number" id="seedvalue">
                </div>
                <div style="display: none;">
                    <select id="perspectiveSelect">
                        <option value="F">F</option>
                        <option value="B">B</option>
                        <option value="R">R</option>
                        <option value="L">L</option>
                        <option value="U">U</option>
                        <option value="D">D</option>
                        <option value="I">I</option>
                    </select>
                </div>
            </div>
            <p>
            </p>
        </div>


    </div>
    <div class="dialog dialogstats" style="opacity: 0.98; ">
        <table>
            <tbody>
                <tr style="height:0%;">
                    <td>
                        <div class="title">Estadísticas de la ronda actual</div>
                    </td>
                </tr>
                <tr style="height:100%;">
                    <td style="position:relative;">
                        <div class="value"><textarea id="detalle" rows="10" readonly=""
                                data-listener-added_611a64a2="true"></textarea></div>
                    </td>
                </tr>
                <tr style="height:0%;">
                    <td>
                        <div class="button">
                            <input type="button" class="buttonOK" value="Aceptar" onclick="cerrarModal()">
                            <input type="button" class="buttonOK" value="Exportar CSV">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="dialog dialogcfm" style="opacity: 0.98; display: none;">
        <table style="margin: 0 auto;">
            <tbody>
                <tr style="height:0%;">
                    <td>
                        <div class="title">Solves No.372</div>
                    </td>
                </tr>
                <tr style="height:100%;">
                    <td style="position:relative;">
                        <div class="value">
                            <div style="text-align: center; font-family: initial; font-size: 1.2em;"><span
                                    id="tiemposolve" style="font-size:2.5em;">0.00</span><br><br><span class="click"
                                    data="c"> 📋
                                </span>|<span class="click" data="p"> OK </span>|<span class="click" data="p"> +2
                                </span>|<span class="click" data="p"> DNF </span>| <input type="button" data="d"
                                    value="X"><br>
                                <table style="display:inline-block;">
                                    <tbody>
                                        <tr>
                                            <td>Comentario</td>
                                            <td><input id="comentario" type="text" style="width: 8em;     padding-block: 1px;
                                                padding-inline: 2px;"></td>
                                        </tr>
                                        <tr>
                                            <td><span class="click" data="s"> mezcla</span></td>
                                            <td><input id="mezcla" type="text" style="width: 8em;     padding-block: 1px;
                                                padding-inline: 2px;"></td>
                                        </tr>
                                        <tr>
                                            <td>Fecha</td>
                                            <td><input id="fecha" type="text" style="width: 8em;     padding-block: 1px;
                                                padding-inline: 2px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="height:0%;">
                    <input id="id_tiemposolve" type="hidden">

                    <td>
                        <div class="button"><input type="button" class="buttonOK" value="Aceptar"
                                onclick="cerrarModal()"><input type="button" class="buttonOK"
                                value="Estadística de 1 solución."
                                onclick="openModel(document.getElementById('id_tiemposolve').textContent, 1, 0)"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quaternion@1.2.1/quaternion.js"></script>

    <script src="/static/js/timer.js"></script>

</body>

</html>